.timer {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 55%;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color: aliceblue;
}

.timer > p {
    margin: 0;
    font-size: 120px;
}