body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

span {
    font-family: 'Hanalei';
    width: 100%;
    font-size: 8em;
    display: inline-block;
    padding-top: 20px;
    background-color: rgb(211, 211, 211);
    border: black 5px solid;
    border-radius: 15px;

}

h1 {
  font-size: 60px;
}

h3 {
  color: white;
  font-size: 25px;
}

h4 {
  color: black;
  font-size: 15px;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
    display: grid;
    grid-template-rows: 32% 36% 32%;
    grid-template-columns: 100%;
    grid-template-areas: 
      "title-bar"
      "clock-area"
      "buttons";
}

.title-bar {
  grid-area: title-bar;
  width: 100%;
  height: 100%;
  text-align: center;
}

.clock-area {
  width: 100%;
  height: 100%;
  grid-area: clock-area;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.base {
  width: 950px;
  height: 300px;
  background: black;
  transform: perspective(25px) rotateX(1deg);
  border: black 2px solid;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  filter: drop-shadow(0px 0px 5px black);
}

.clock {
  height: 90%;
  width: 40%;
  border-radius: 8px;
  text-align: center;
}

#white {
  border: black 5px solid;
}

#black {
  border: black 5px solid;
}

.game-buttons {
  grid-area: buttons;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 75px;
  width: 200px;
  border: none;
  background-color: yellow;
  color: black;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 5px black);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: rgb(189, 189, 0);
}

#start-btn {
  background-color: green;
}

#start-btn:active {
  background-color: rgb(0, 77, 0);
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 30%;
  left: 0;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.397);
  border: 3px solid rgba(255, 255, 255, 0.397);
  border-radius: 10px;
  text-align: center;
}

/* Set a style for the submit/login button */
.form-container .form-btn {
  background-color: yellow;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  color: white;
}

/* Add some hover effects to buttons */
.form-container .form-btn:hover {
  opacity: 1;
}