input[type="text"] {
    border: none;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    outline: 2px black solid;
    border-radius: 10px;
    padding: 0;

}

input[type="text"]:focus {
    outline: 2px red solid;
}

.value-changed { 
    background-color: red;
    color: white;
}
