.clockButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 15px;
    color: black;
    font-size: 50px;
    cursor: pointer;
}

.clockButton:hover {
    background-color: yellowgreen;
}

.clockButton:active {
    background-color: green;
}

.clock-button-active {
    background-color: green;
}