.footer {
    height: 200px;
    width: 90%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-group > p {
    font-size: 30px;
}

.input-item {
    display: flex;
    justify-content: center;
    gap: 15px;
}

